@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

@font-face {
    font-family: "Saint Carell";
    src: url("../fontes/SaintCarell.otf") format("opentype");
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
    
 }
 

:root {

    --fonte-teste: "Pacifico", sans-serif;
    --fonte-teste2: "playfair Display", sans-serif;
    --fonte-teste3: "Open Sans", sans-serif;
    --fonte-teste4: "Montserrat Alternates", sans-serif;
    --fonte-teste5: "Nova Mono", sans-serif;
    --fonte-teste6: "Saint Carell";
    
    
}

body.inicio {
    width: 100vw;
    height: 100vh;
    background: url(../Imagens/pexels-mikebirdy-190537.jpg) no-repeat top center;
    background-size:cover;
}
body.quemsomos {
    background: black url("../Imagens/drill.jpg") no-repeat top center;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
header {
    height: 125px;
    width: 100vw;
    background-color: rgba(8, 15, 8, 0.562);
    
}

header > h1 {
    font-family: var(--fonte-teste6);
    font-weight:bold;
    font-size: 3em;
    font-style: normal;
    padding: 20px;
    color: rgb(222, 235, 191);
    text-align: center;
   
    
}

header > menu > ul > li{
    display: inline-block;
    color:white;
    font-family: var(--fonte-teste6);
    font-size: 1.35em;
    padding: 0px 15px;
    
    
}
header > menu > ul > li >a{
    text-decoration: none;
    color: white;
    
}
header > menu > ul > li >a:hover{
    text-decoration: none;
    color: yellow
}
header > menu {
    text-align: right;
    padding: 0px 15px;
}