@charset "UTF-8";

 *{
    margin: 0px;
    padding: 0px;
 }
body {
    width: 100vw;
    height: 100vh;
    background: url(../Imagens/pexels-mikebirdy-190537.jpg) no-repeat top center;
    background-size:cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
header {
    height: 100px;
    width: 100vw;
    background-color: rgba(8, 15, 8, 0.459);
}
header > h1 {
    color: rgb(247, 246, 250);
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}
header > menu > ul > li{
    display: inline-block;
    color:white;
    font-weight: bold;

}
header > menu {
    display: inline-block;
}